
.bank-details-container, .deposit-container, .withdraw-container {
  background-color: #ffffff;
  border: 1px solid #ffffff;
  border-radius: 20px;
  padding: 30px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.bank-details-container h2, .deposit-container h2, .withdraw-container h2 {
  color: #000000;
  margin-bottom: 15px;
}

.bank-details-container p, .deposit-container p, .withdraw-container p {
  margin: 10px;
}

.bank-details-container .loading, .deposit-container .message, .withdraw-container .message {
  color: #ff6347;
  margin-top: 10px;
}

